<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-10">
        <a href="" class="hover:opacity-100 opacity-80">Inicio</a>
        <a href="#experience" class="hover:opacity-100 opacity-80">Experiencia</a>
        <a href="" class="hover:opacity-100 opacity-80">Projectos</a>
        <a href="" class="hover:opacity-100 opacity-80">Contacto</a>
    </nav>
</header>