---
import HistoricalItem from "./HistoricalItem.astro"

const experience = [
    {
        title: 'Web UI Developer - SSR',
        company: 'Santander (Globant)',
        startDate: 'Marzo 2023 - Enero 2024',
        description: [
            'Apoyé con el desarrollo y corrección de errores en la primera fase del proyecto, utilizando Angular para mostrar la aplicación en un WebView dentro de una app móvil, incluyendo pruebas unitarias con TDD.',
            'En la segunda fase, colaboré con el equipo en el diseño de la arquitectura de una nueva funcionalidad y lideré su desarrollo, siguiendo las mismas prácticas y metodologías. Gracias al esfuerzo conjunto y el apoyo mutuo, logramos completar las tareas en tiempo y forma, asegurando un flujo de trabajo eficiente.'
        ]
    },
    {
        title: 'Web UI Developer - SSR',
        company: 'Autodesk (Globant)',
        startDate: 'Diciembre 2021 - Octubre 2022',
        description: [
            'Participe en el desarrollo de un flujo para la migración de cuentas y projectos a una nueva versión de la plataforma. Durante mi tiempo en el proyecto participe en juntas, estimacion de tareas, desarrollo de componentes, pruebas unitarias y E2E.',
        ]
    },
    {
        title: 'Full Stack Developer',
        company: 'Diversity Global Inc, El Grullo, Jalisco',
        startDate: 'Enero 2018 - Noviembre 2021',
        description: [
            'Paticipe en el desarrollo de una projecto para Nissan que buscaba una plataforma para dar seguimeinto a la entrega de autos a las concecionarias. Participe tanto en el desarrollo del Frontent con Angular asi como del Backend con Maven y Micronaut.',
            'Implemente nuevas funcionalidades en una plataforma desarrollada con Vue que buscaba conectar estudiantes con escuelas, dar un seguimiento y ofrecer una guia para la eleccion de una carrera profesional.',
            'Participé en el desarrollo de una aplicacion para compra y venta de articulos llamada Sawappy en sus tres variantes (Web, Android, iOS) asi como en la API con NodeJs.',
            'Desarrollé la interfaz de una aplicacion Mobile en Android Studio que tenia como finalidad ayudar a personas con discapacidad auditiva y del habla.',
        ]
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
    <li class="mb-10 ms-4">
        { experience.map((item, index) => (
            <HistoricalItem {...item} key={index} />
        ))}
    </li>
</ol>

